!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 articurate
    .container
      .sidebar
        block sidebar
    footer
      p 